<!DOCTYPE html>

<html>
    <body style="font-family: sans-serif; background-color: #0052D0; width: 100%; height: 100%; margin: 0; padding: 0;">
        <div style="background-color: white; width: fit-content; height: fit-content; padding: 1em 2em; position: absolute; left: 0; right: 0; top: 0; bottom: 0; margin: auto; max-width: 100%; max-height: 100%; overflow: auto;">
            <h1>Pendaftaran Berhasil</h1>

            <p>Pendaftaran Anda telah berhasil dilakukan. Berikut adalah detil pendaftaran Anda:</p>

            <div>
                <p style="margin: 0.25em 0;"><strong>NIK: </strong>{{ nik }}</p>
                <p style="margin: 0.25em 0;"><strong>Hari/Tanggal: </strong>{{ hari_tanggal }}</p>
                <p style="margin: 0.25em 0;"><strong>Jam Kedatangan: </strong>{{ jam_kedatangan }}</p>
                <p style="margin: 0.25em 0;"><strong>Dokter: </strong>{{ dokter }}</p>
            </div>
            
            <p>Mohon untuk datang tepat waktu. Terima kasih.</p>
        </div>
    </body>
</html>
