.nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0.9em 9vw;
    background: #0052D0;
    position: fixed;
    top: 0;
    left: 0;
    filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.15));
}

.navBrand {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 1.3em;
    letter-spacing: 0.5px;
}

.navLinks {
    display: flex;
    column-gap: 1.1em;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 1.1em;
    letter-spacing: 0.5px;
}

