.previewURL {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 1em;
    border: 1px solid rgba(0, 0, 0, 0.23);
    border-radius: 4px;
    padding: 0.5em 1em;
    margin-top: 1em;
    min-width: 30%;
    max-width: fit-content;
}